.iconsStyle i{
    font-size: 25px;
    padding: 0px;    
}
.smallButton{
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 5px;
    margin-top: 5px;
    
}
.topButtons {
    position: fixed;
    top: 0%;
    left: 5px;
    right: 5px;
    background-color: #ffffff;
    z-index: 100;
    
}

#logOutButton:hover{
    background-color: rgb(201, 77, 77);
}
.button {
    margin-top: 5px;
    margin-left: 5px;
    background-color: #7eb680; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #4a8870; /* Green */
}
#addNewUserButton, #addNewTaskButton, #findPartButton, #addToButton, #writeOffButton{
    position: fixed;
    top: 65px;
    background-color: #7190d1;
    z-index: 100;
}
.werehouseMenu {
    z-index: 200;
    background-color: #e8eaee17;
     backdrop-filter: blur(2px);
     padding-right: 7.5px;
    padding-bottom: 7.5px;
    position: fixed;
     border-radius: 10px;
     display: inline-block;
       border-width: 0.5px;
     border-color: #000000;
     border-style: solid;
  
 }
 .delUserBtn{
     font-size: 20px;
     border: none;
     background-color: rgba(255, 255, 255, 0);
 }
 .delUserBtn:hover{
     color: red;
 }
 .textInButton{
    position: relative;
    top: -3px;
    
 }

#listWerehouseButton, #arrivalToWerehouseButton, #writeOffFromWerehouseButton{
    background-color:#ffffff;
    border: 1px solid grey;
    cursor: pointer;
}

#addNewUserButton:hover, #addNewTaskButton:hover, #listWerehouseButton:hover, #arrivalToWerehouseButton:hover, #writeOffFromWerehouseButton:hover, #findPartButton:hover, #addToButton:hover, #writeOffButton:hover {
    background-color: #767b86;
    color: white;
}

#logOutButton {
    position: absolute;
    right: 5px;
}

.userstable, .taskstable, .werehouseTable {
position: relative;
margin-top: 130px;
width: 100%;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
table-layout: auto;
}


.userstable th, .userstable td:first-child, .taskstable th, .werehouseTable th, .werehouseTable td:first-child {
    background: #AFCDE7;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
 }
 
 .userstable th, .color td, .taskstable th, .werehouseTable th {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
 }
 
 .userstable tr, .taskstable tr, .werehouseTable tr{
    background: #D8E6F3;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: white;
 }
 .userstable tr:hover, .taskstable tr:hover, .werehouseTable tr:hover{
    background: #eeeef0; 
 }
 .col_1{
    width: 1%;
}
.col_2{
   width: 5%;
}
.col_3{
   width: 8%;
}
.col_4{
   width: 8%;
}
.col_5{
    width: 2%;
 }

.tasks_col_1{
width: 1%;
}
.tasks_col_2{
width: 5%;     
}
.tasks_col_3{
width: 8%;     
}
.tasks_col_4{
width: 8%;     
}
.tasks_col_5{
width: 10%;     
}
.tasks_col_6{
width: 8%;     
}
.tasks_col_7{
width: 8%;     
}

.tasks_col_9{
width: 15%;     
}
.tasks_col_10{
width: 5%;     
}



.col-list1{
    width: 1%;
}
.col-list2{
    width: 25%;
}
.col-list3{
    width: 60%;
}

.userDetailForm, .priceForm {
    width: 400px;
    box-shadow: 0px 0px 15px -3px #000000;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 9;
    background-color: white;
      
}
.priceForm{
    width: 300px;
}

#formNewPassId{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
 
}
.submitBtns{
    margin-top: 5%;
}



.userDetailHeader, .newUserFormHeader, .priceHeader, .addNewTaskHeader, .addToHeader, .writeOffHeader, .detailTaskFormIdHeader, .checkTypeOfWorkHeader {
    height: 20px;
    background-color: #858282;
    cursor: move;
    z-index: 10;
    text-align: center;
    color: #ffffff;
}

.userDetailInfo, .priceInfo{
    width: 100%;
    align-items:center;
    position: relative;
    display: flex;

}
.priceInfo{
    padding-top: 1%;
    padding-left: 3%;
}
.priceInfo table {
    width: 100%;
}
.priceInfo input {
    width: 50px;
}

#summa{
    margin-left: 6px;
    width: 33px;
    text-align: center;
    cursor: unset;
    border: none;
    color: #4a8870;
    font-weight: bold;
}
.priceInfo span{
    color: #4a8870;
    font-weight: bold;
}
.userDetailInfo p{
    margin-left: 40%;

}
.column{
    flex: 40%;
    padding-left: 1%;
    padding-top: 2%;
}
.userDetailSubButtons, .priceSubButtons, .addToSubButtons, .writeOffSubButtons, .detailTaskSubButtons, .newTaskSubButtons, .typeOfWorksubButtons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    
}
.submitButton {
   margin-left: 10%;
   margin-right: 10%;
    background-color: #91b7c9; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
    
}
.submitButton:hover {
    background-color: #6e8792; /* Green */
}

.noselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
   color: #767b86;
    border: none;
}

.delUserBtn {
    z-index: 50;
}
.addNewTask{
    padding-top: 2%;
    padding-left: 5%;
}
.newTaskForm {
    width: 350px;
    box-shadow: 0px 0px 15px -3px #000000;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 9;
    background-color: white;
}

.detailTaskForm, .checkTypeOfWork, .addTo, .writeOff {
    width: 500px;
    box-shadow: 0px 0px 15px -3px #000000;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 9;
    background-color: white;
}
.addTo {
    width: 800px;
}

.writeOff{
    width: 950px;
}
.addToContent, .writeOffContent{

    max-height: 500px;
    overflow-x: auto;
}
.writeOffContent{
    margin-top: 1%;
    margin-left: 1%;
}
.writeOffContent input{
    margin-left: 1%;
}


.detailTaskInfo, .addToContent table, .writeOffContent table {
    text-align: center;
    line-height: 30px;
    padding-left: 1%;
    padding-right: 1%;      
  
}
.writeOffContent table{
    width: 100%;
}
.helpFields{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    max-width: 50px;
    border: none;
    cursor:unset;

}
.shortFields{
    width: 50px;
}
.sumAllDiv{
    position: absolute;
    background-color: white;
    right: 5px;
    top: 25px;
    display: inline;
    width: 120px;
    padding: 0.2em;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px;
}
.sumAllDiv label{
    font-weight: bold;
   
}
#sumAll{
    max-width: 50px;
    border: none;
    cursor:unset;
    margin-right: 2%;
    font-weight: bold;
    text-align: center;
    color: green;

}

#fromWho {
    margin-left: 1%;
    margin-top: 1%;
    align-self: left;
    padding: 1%;
}

.detailTaskInfo textarea{
    width: 100%;
    height: 100px;
    resize: none;
}
.addPartNumber{
    max-width: 100%;
     table-layout: fixed; 
       
}
.count {
    width: 36px;
   
}
.partLable{
    font-size: 12px;
    color: #858282;
}
.printMenuButton{
    position: absolute;
    text-align: right;
    right: 5px;
    top: 20px;
    font-size: 25px;
    
}
.printMenuButton:hover{
    color: rgb(0, 0, 252);
}

.printOptions{
    font-size: 16px;
    text-align: center;
    background-color: #e4f1f8;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.22);
    overflow: hidden;
    cursor: pointer;   
}
.printOptions div:hover {
    background: #91b7c9;/*окрашивает синим цветом*/
    color: #fff;/*меняет цвет текста*/
    box-shadow: inset 0 0 5px 0px rgba(0,0,0,0.05);
}
.checkTypeOfWork p{
    text-align: center;
    font-size: large;
}
.checkTypeOfWorkInfo thead, .checkTypeOfWorkInfo td{
    text-align: center;    
}
.checkTypeOfWorkInfo{
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.checkTypeOfWork{
    width: 700px;
}