<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script src="/javascripts/scriptadmn.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleadmn.css" />
    <title>adminPage</title>
</head>
<body>
<div class="topButtons">
<button id="usersButton" class="button" onclick="usersPage()">Пользователи</button>
<button id="tasksButton" class="button" onclick="tasksPage()">Система заявок</button>
<button id="storeButton" class="button" onclick="storePage()">Система заказов</button>
<button id="werehButton" class="button" onclick="werehousePage()">Склад</button>
<button id="reportButton" class="button" onclick="reportPage()">Отчет</button>
<button id="priceButton" class="button" onclick="priceForm()">Цена</button>
<button id="logOutButton" class="button" onclick="logOut()">Выход из системы</button>
<hr>
</div>



 



</body>
</html>