<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script src="/javascripts/scripteng.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleadmn.css" />
    <title>engPage</title>
</head>
<body>
<div class="topButtons">
<button id="tasksButton" class="button" onclick="tasksPage()">Система заявок</button>
<button id="logOutButton" class="button" onclick="logOut()">Выход из системы</button>
<hr>
</div>



 



</body>
</html>