<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script src="/javascripts/scriptmngr.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleadmn.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font/bootstrap-icons.css" />
    <title>adminPage</title>
</head>
<body>
<div class="topButtons">
<button id="tasksButton" class="button" onclick="tasksPage()">Система заявок</button>
<button id="storeButton" class="button" onclick="storePage()">Система заказов</button>
<button id="reportButton" class="button" onclick="reportPage()">Отчет</button>
<button id="logOutButton" class="button" onclick="logOut()" title="Выход из системы"><i class="bi bi-x-square"></i></button>
</div>



 



</body>
</html>