<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>тестируем динамическое добавление элементов</title>
</head>
<body>
<div class="topButtons">
<button id="newFormButton" class="button" onclick="newForm()">Новая заявка</button>
<button id="logOutButton" class="button" onclick="logOut()">Выход из системы</button>
<hr>
</div>


<table id="tableBase" class="table">
    <col class="col_1">
    <col class="col_2">
    <col class="col_3">
    <col class="col_4">
    <col class="col_5">
    <col class="col_6">
    <col class="col_7">
    <col class="col_8">
    <col class="col_9">
    <col class="col_10">
    <col class="col_11">
    <col class="col_12">
    <col class="col_13">
    <thead>
        <th>№</th>
        <th>Дата</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Адрес</th>
        <th>Производитель</th>
        <th>Модель</th>
        <th>Серийный номер</th>
        <th>Дефект</th>
        <th>Менеджер</th>
        <th>Статус</th>
        <th>Комент</th>
        <th>Сумма</th>
    </thead>
    <tbody id="tableBody">

    </tbody>
</table>



                <td><input type="button" id="writeOffRowButton'+ i +'" onclick="writeOffRowForWerehouse(i+1)" value="+"></td>
                <td><input type="text" id="inputPartNumber"></td>
                <td><input type="text" id="inputDescription"></td>
                <td><input type="number" id="inputCount" min="1"></td>
                <td><input type="number" id="inputPrice" min="1"></td>
            


</body>
</html>