<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script src="/javascripts/scriptwereh.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleadmn.css" />
    <title>werehousePage</title>
</head>
<body>
<div class="topButtons">
<button id="storeButton" class="button" onclick="storePage()">Система заказов</button>
<button id="werehButton" class="button" onclick="werehousePage()">Склад</button>
<button id="logOutButton" class="button" onclick="logOut()">Выход из системы</button>
<hr>
</div>



 



</body>
</html>